* {
scroll-behavior: smooth;
}

p, h5, a {
 font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3, h4, h5, a {
    font-weight: 700;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 4rem;
}

h4 {
font-size: 2rem;
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.material-icons {
font-size: 36px;}


.custom-button {
    width: 10rem;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
}

.lato-font {
    font-family: "Lato", sans-serif;
}

.custom-navbar {
    font-weight: 600;
    font-size: 1.5rem;
}

.custom-navbar-scroll {
    transition: background-color 300ms;
    background-color: rgb(255, 174, 0);
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    transition: color 300ms;
} 

.navbar-dark .navbar-nav .nav-link:hover{
    color: black;
}


.log-out {
font-family: Raleway;
font-weight: 700;
}


.custom-heading {
    height: 20rem;
    text-align: center;
    background-color: #fff;
}

.custom-heading h1 {
    font-weight: 200;
}

.custom-heading p {
    font-weight: 200;
}


.team-profile h4 {
    font-weight: 700;
}


.profile-img {
    border-radius: 100%;
    object-fit:cover;
    width: 70%;
}


.social-media-favicon {
    width: 25px;
    margin-right: 1%;
}

/* HOME PAGE */

.main-title{ 
    width: 100vw;
    height: 150vh;
    z-index: 200;
    background-image: url("imgs/product-photos/anthony-espinosa-pYQSM-p_0_c-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

.main-heading{
    font-size: 5.5rem;
    padding-top: -20%;
    color: #fff;
}

#steps-section {
        }

.steps-container{
    margin: 10% 5%;
    margin-bottom: 2%;
}

.steps-img, .steps-img-reverse  {
    object-fit: contain;
    max-width: 30vw;
}

.steps-heading,.step-reverse-heading   {
padding: 4% 8%;
}


.steps-heading h2, .step-reverse-heading h2 {
    font-size: 2rem;
} 

.steps-heading h3, .step-reverse-heading h3 {
    font-size: 1.5rem;
}

.green {
    color: rgb(0, 157, 63);
}

.delivery-result {
padding: 4% 6%;
    background-color: rgb(0, 157, 63);;
      border-radius: 25px;
        color: #fff;
        margin-bottom: 2rem;
}

.delivery-result p {
font-weight: 700;
}

#success-container::before {
display: block;
content: " ";
margin-top: -100px;
height: 100px;
visibility: hidden;
pointer-events:none;
}


.orderpage-button {
    background-color: rgb(255, 174, 0);
    color: #000;
    border-radius: 20px;
    padding: 2% 8%;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    transition: background-color 300ms;
}

.orderpage-button:hover {
    background-color: rgb(255, 115, 0);
    color: white;
}

.press h5, .press h4, .press p {
    font-family: "Josefin Sans", sans-serif;
}

.review-1, .review-2  {
color: rgb(255, 115, 0);
}




#press-section {
background-color: #ffe89f;
border-radius: 25px 25px 0 0;
width: 100vw;
margin: 15% auto;
height: 100vh;
}

.contact-section{
margin: 10rem 0;
}

.carousel-container {
    position:relative;
    height: 80vh;
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.carousel-caption h2 {
    font-size: 5rem;
}

.carousel-caption h3 {
    font-size: 3rem;
}


.menu-img {
    object-fit: contain;
    max-width: 230px;
}

.img-container{
    height: 15rem;
    /*margin: 10% 0;*/

}

.card-body {
    padding: 0;
    padding-top: 5%;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 1.5s;
  }

.button-2 {
    background-color: rgb(4, 177, 154);
    color: #fff;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 700;
}

.button-2:hover {
    background-color: rgb(49, 146, 133);
    color: #fff;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 700;
}

/* PRODUCT PAGES */

.hide{
    display: none;
}


.custom-banner {
    width:100%;
    height: 100vh;
    object-fit: cover;
}

#banner {
    display: flex;
    justify-content: center;
}

.banner-text {
        width:100vw;
        height: 200vh;
        z-index: 200;
        background-image: url("imgs/product-photos/eiliv-sonas-aceron-5nvt9BrLaAc-unsplash.jpg");
        background-attachment: fixed;
        background-position: 30%;
        background-repeat: no-repeat;
        background-size: cover; 
}

.menu-heading {
    margin: 0 5%;
    padding: 2% 4%;
    text-align: center;
    /* border: 3px solid white; */
    color: white;
    background-color: rgb(255, 151, 14);
    font-size: 4rem;
    top: 38%;
    line-height: 1.2;
    /* background-color: rgba(255, 255, 255, 0.295); */
}

/* .menu-heading-2 {
    padding: 14% 18%;
    border: 1px solid white;
    color: #fff;
    font-size: 8rem;

} */

 .menu-categories {
    background-color:rgb(255, 202, 132);
    position: sticky;
    top: 77px;
    z-index: 100;
    padding: 1% 0;
}

a.menu-category{
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    transition: all 400ms 100ms
}

a.menu-category:hover {
    color: black;
}

.inactive {
    font-size: 1.1rem;
    color: white;
}

.active {
    color: rgb(255, 115, 0);
    font-size: 1.3rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(200, 172, 172, 0.281);
}



/* CART */


.blue-background{
    background-color: rgb(0, 142, 207);
}

.yellow-background{
   background-color: rgb(255, 174, 0);
}

li.checkout-item{
    list-style-type: none;
    
}

.checkout {
font-size: 1rem;
margin-bottom: 0;
}

.checkout-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-item-img {
    max-width: 60px;
    object-fit: cover;

}


.custom-spacing{
    height: 5rem;
}


.cart-quantity-container {
    background-color: rgb(238, 238, 238);
    padding: 0;
}

.cart-quantity-container:hover {
    box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.836);
}

.add-button, .remove-button {
padding: 0;
}


.add {
    background-color: rgb(0, 142, 207);
    color: #fff;
    transition: all 200ms;
}

.add:hover {
    color: black;
    background-color: rgb(255, 174, 0);
}


#checkout-button,  #edit-order-button{
background-color: #ffc107;
    color: #000;
    border: none;
    font-weight: 700;
}

#checkout-button:hover, #edit-order-button:hover {
background-color: rgb(0, 142, 207);
}

#cart-section {
 align-self: flex-end;
 position: sticky;
 z-index: 50;
 top: 22%;
border-radius: 25px;
}


#checkout-container {
height: 35vh;
 overflow: scroll;
 margin-bottom: 11rem;
 background-color: #fff;
 }

#close-cart {
color: #000;
font-family: "Josefin Sans", sans-serif;
}

.total h3 {
font-family: Raleway, sans-serif;
font-size: 1.2rem;
}

.total p{
font-size: 0.9rem;
rgb
}


#cart-checkout {
bottom: 0;
width: 100%;
border-radius: 0 0 25px 25px;
background-color: rgb(238, 238, 238);
overflow: scroll;
}

#cart-heading {
border-bottom: 3px solid #ffc107;
}

#checkout-heading{
border-bottom: 3px solid black;
}

/*
#show-cart {
display:none;
}
*/

/*ADMIN */

/* LOGIN */
.login-img {
    object-fit: cover;
    height: 100vh;
}

#login-page, #register-page{
margin-top: 4rem;
}

.sign-in-button{
background-color: rgb(0, 142, 207);
color: white;
}

.sign-in-button:hover {
background-color: rgb(255, 174, 0);
color:black;
}

#sign-up-button {
    font-weight: 700;
    color: rgb(0, 142, 207);
}

#sign-up-button:hover{
    border-bottom: 1px solid rgb(0, 142, 207);
}

/*CHECKOUT PAGE */

#checkout-page-total{
border-radius: 25px;
background-color: rgb(238, 238, 238);
}


 #checkout-page-section {
 margin-top: 10rem;
 margin-bottom: 5rem;
 }

 #delivery-notice {
 border-radius: 25px;
    background-color:#ffdc6e;
 }




/*CONFIRMED ORDER PAGE*/

#confirm-order-img{
max-width: 200px;
}

#confirm-order-text {
line-height: 1;
}


/* MEDIA QUERY FOR MEDIUM SCREENS */

@media only screen and (max-width: 991px) {
#checkout-container{
height: 25vh;
margin-bottom: 14rem;
}


}
/* MEDIA QUERY FOR SMALL SCREENS */

@media only screen and (max-width: 767px) {



h3.greeting{
font-size:1rem;
}
    /* LOGIN PAGE */

    #login-form, #register-form, #checkout-page-section  {
        margin-top: 6rem;
        }


    #admin-heading {
        font-size: 4rem;
    }

    .menu-heading {
        top: 40%;
        font-size: 2.5rem;
    }

     .menu-categories {
        top: 78px;
    }

    .banner-text{
        background-position: center;
    }

    .img-container{
        height: 20rem;
    }




  }


  /* MEDIA QUERY FOR EXTRA SMALL SCREENS */


@media only screen and (max-width: 575px) {

h3, h4 {
font-size: 1.5rem;
}


h5 {
font-size: 1.1rem;
}

p {
font-size: 1rem;
}

.navbar-nav.mr-auto {
    margin-top: 8vh;
}

.navbar-nav.ml-auto {
    margin-bottom: 48vh
}

.nav-link.custom-navlink, .log-out{
    margin: 2% 0;
    font-size: 3rem;
}

.log-out {
font-size: 2rem;
}

.material-icons{
    font-size: 40px;
}


  #custom-navigation {
    background-color: rgb(255, 174, 0);
  }


.main-heading { 
    font-size: 4rem;
    padding: 20% 0;
    margin: 0% 10%;
}

.main-title {
    background-position: 40%;
    height: 120vh;
    margin-top: -8rem;
}


    .carousel-container {
        display: flex;
    }
    .carousel-text {
        justify-content: center;
        align-content: center;
        left: 0;
        right: 0;
        margin: 10% 10%;
    
    }

    .carousel-text h1{
        font-size: 3rem;
    }
    
    /*ORDER PAGE*/

.card-title {
    margin-bottom: 0;
}
    
    h5.card-title {
        text-align: left;
    }

    h3.card-name {
    text-align: center;
    }

    #checkout-section {
        display:none;
    }

    .banner-text {
        display: none;
}

    /* LOGIN PAGE */

   #login-form {
        margin-top: 0;
        }
/*PRODUCT PAGE */
 .menu-heading {
        top: 35%;
        font-size: 2.5rem;
    }

.menu-img {
    max-width: 150px;
}

.checkout-item-img {
    max-width: 40px;
}


.img-container{
height: 10rem;
}


#menu-categories{
top: 10%;
}

.cart-margin {
margin-top: 30%;
}

#cart-section {
position: relative;
}


#checkout-container {
 height: 35vh;
 margin-bottom: 10rem
}

#cart-checkout {
}


.show-cart-container {
background-color: #ffc107;
}

.show-cart-container a {
color: #000;
font-size: 1rem;
}


.steps-heading h2, .step-reverse-heading h2{
font-size: 1.5 rem;
}
.steps-heading h3, .step-reverse-heading h3{
font-size: 1 rem;
}

.success-container h3 {
font-size: 1.5rem;

}


}
