
p, h5, a {
 font-family: "Lato", sans-serif;
}

h1, h2, h3 {
    font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3, h5, a {
    font-weight: 700;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 2rem;
}



.black-font {
    color: black;

}

.active {
    border-bottom: 5px solid black;
}

.white-font {
    color: white;
}



.custom-button {
    width: 10rem;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
}

.lato-font {
    font-family: "Lato", sans-serif;
}

.custom-navbar {
    font-weight: 600;
    font-size: 1.5rem;
}

.custom-navbar-scroll {
    background-color: rgb(0, 142, 207);
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
} 



.custom-heading {
    height: 20rem;
    text-align: center;
    background-color: #fff;
}

.custom-heading h1 {
    font-weight: 200;
}

.custom-heading p {
    font-weight: 200;
}


.team-profile h4 {
    font-weight: 700;
}


.profile-img {
    border-radius: 100%;
    object-fit:cover;
    width: 70%;
}


.social-media-favicon {
    width: 25px;
    margin-right: 1%;
}

/* HOME PAGE */

.main-title{ 
    width: 2669px;
    height: 1686px;
    z-index: 200;
    background-image: url("imgs/product-photos/anthony-espinosa-pYQSM-p_0_c-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

.main-heading{
    height: 100vh;
    padding: 20% 5%;
    color: #fff;
    font-size: 6rem;
    background-color: rgba(204, 204, 204, 0.062);}


.custom-carousel {
    width: 100%;
    height: 70vh;
    object-fit:cover;
}

.carousel-container {
    position:relative;
}

.carousel-text {
    position: absolute;
    z-index: 1000;
    top: 2rem;
    right: 10rem;
    padding: 2% 5%;
    margin: 5% 2%;
    color: #fff;
    background-color: rgb(0, 142, 207);

}

.carousel-text h1 {
    font-size: 5rem;
}

.search-bar {
    background-color: rgb(255, 202, 132);
    border: none;
    padding: 5% 2%;
}

.search-button {
    border-radius: 20px;
    background-color:rgb(255, 176, 72);
    border: 2px solid #000;
    padding: 1% 8%;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.search-button:hover {
    background-color: rgb(49, 146, 133);
    border: none;
    color: #fff;
}


.search-input {
    border-radius: 20px;
    border: none;
}

.menu-img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
    padding-top: 5%;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 1.5s;
  }

.button-2 {
    background-color: rgb(4, 177, 154);
    color: #fff;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 700;
}

.button-2:hover {
    background-color: rgb(49, 146, 133);
    color: #fff;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 700;
}

/* PRODUCT PAGES */

.hide{
    display: none;
}

.custom-banner {
    width:100%;
    height: 100vh;
    object-fit: cover;
}

#banner {
    display: flex;
    justify-content: center;
}

.banner-text {
        width:100%;
        height: 100vh;
        z-index: 200;
        background-image: url("imgs/product-photos/pexels-daria-shevtsova-908849.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
}

.menu-heading {
    padding: 12% 16%;
    border: 3px solid white;
    color: #fff;
    font-size: 8rem;
    background-color: rgba(204, 204, 204, 0.226);

}

.menu-heading-2 {
    padding: 14% 18%;
    border: 1px solid white;
    color: #fff;
    font-size: 8rem;

}

 .menu-categories {
    background-color:rgb(255, 176, 72);
    position: sticky;
    top: 70px;
    z-index: 100;
}

a.menu-category{
    font-weight: 700;
    margin: 0 1%;
    text-decoration: none;
    font-size: 1.5rem;
}


/* CART */


.blue-background{
    background-color: rgb(0, 142, 207);
}



/*li.price {
    list-style-type :none;
}
*/
li.checkout-item{
    list-style-type: none;
    
}

.checkout-item-img {
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.custom-spacing{
    height: 5rem;
}


.quantity-container{
    width: 100px;
}

.cart-quantity-container {
    background-color: rgb(238, 238, 238);
}

.cart-quantity-container:hover {
    box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.836);
}


.add {
    background-color: rgb(0, 142, 207);
    color: #fff;
}


/*ADMIN */
h2#admin-heading {
    font-size: 5rem;
}

/* LOGIN */
.login-img {
    height: 100vh;
    object-fit: cover;
}

#sign-up-button {
    font-weight: 700;
    color: rgb(0, 142, 207);
}

#sign-up-button:hover{
    border-bottom: 1px solid rgb(0, 142, 207);
}

.login-heading {
    padding: 4% 2%;
    border: 3px solid white;
    color: #fff;
    font-size: 5.5rem;
    background-color: rgba(204, 204, 204, 0.158);
}




@media only screen and (max-width: 600px) {

    .carousel-container {
        display: flex;
    }
    .carousel-text {
        justify-content: center;
        align-content: center;
        left: 0;
        right: 0;
        margin: 10% 10%;
    
    }

    .carousel-text h1{
        font-size: 3rem;
    }
    
    /*ORDER PAGE*/

    
    h5.card-title {
        text-align: center;
    }

    #checkout-section {
        display:none;
    }

    .menu-heading-2 {
        border: none;
        font-size: 5rem;
    }

    .menu-heading {
        border: none;
        font-size: 5rem;
        background-color: rgba(255, 255, 255, 0);

        }

    /* LOGIN PAGE */
    #login-banner {
        display:none;
    }
    
    .login-heading {
        display:none;
    }
        
}

@media only screen and (max-width: 700px) {
    /* LOGIN PAGE */
    #login-banner {
        display:hidden;
    }
    
    .login-heading {
        display:none;
    }
} 