<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">



    <!--ICONS CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--CUSTOM CSS -->

    <link rel="stylesheet" href="assets/style.css">

    <!--FONTS-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Lato:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

    <!--JS -->
    <script src="assets/script.js"></script>

    <title>Better Burgers</title>
</head>

<body>

<div class="fixed-top">
    <div id="custom-navigation" class="navbar navbar-expand-sm my-0 py-4 pl-4 py-md-2 px-md-5 custom-navbar navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link custom-navlink" href="/"><span class="material-icons">
lunch_dining
</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!--incorporated stuff-->
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link custom-navlink" href="/admin">Admin<span
                            class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item ml-0 ml-sm-2 ml-md-4">
                    <a class="nav-link custom-navlink" href="/login">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item ml-0 ml-sm-2 ml-md-4">
                    <a class="nav-link custom-navlink" href="/order">Order</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item ml-0 ml-sm-2 ml-md-4">
                    <a class="nav-link custom-navlink" href="/guest-order">Order</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item ml-0 ml-sm-2 ml-md-4">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="log-out btn btn-light my-2" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </div>

    </div>
</div>

    <!--END HEADER-->

    <!--BANNER-->
    <div id="banner">
        <div class="main-title d-flex justify-content-center align-items-center position-relative">
            <h1 class="main-heading position-absolute text-left p-0 px-sm-5">We make Better burgers.</h1>
        </div>
    </div>


    <!--END BANNER -->


    <div id="steps-section">
        <div class="steps-container d-flex flex-column flex-md-row justify-content-center align-items-center row-cols-1 row-cols-xs-1 row-cols-sm-2">
            <div class="col-sm-10 col-md-5 d-flex align-items-center justify-content-center">
                <img src="assets/imgs/product-photos/maiqui-cordeiro-QCPMwPcZhaQ-unsplash_edited.jpg"
                    class="steps-img col">
            </div>
            <div class="steps-heading col-sm-10 col-md-7 d-flex flex-column justify-content-center align-items-center px-4">
                <h2 class="my-4 w-sm-75 text-center">First time ordering with us?</h2>
                <h3 class="my-4 w-sm-75 text-center">Find out your delivery fee.</h3>
                <!--SEARCH-->
                <form class="search-bar w-75 my-3">
                    <div class="d-flex flex-row justify-content-between flex-column">
                        <input class="form-control search-input shadow" type="text"
                            placeholder="Enter postal code">
                        <a href="#success-container" id="check-button" class="btn main-button shadow my-4" >Check</a>
                </form>
                </div>
            <div id="address-check-result">
            </div>
                <!--END SEARCH-->
            </div>
        </div>

<div class="steps-container d-flex flex-column flex-md-row-reverse justify-content-center align-items-center row-cols-1 row-cols-xs-1 row-cols-sm-2 mb-5">
                        <div class="col-sm-10 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="assets/imgs/product-photos/pexels-horizon-content-3738730_edited2.jpg" class="steps-img-reverse">
                        </div>
                        <div class="steps-heading col-sm-10 col-md-6 d-flex flex-column justify-content-center align-items-center px-4">
                            <h2 class="mt-4 text-center">Not sure what to get?</h2>
                             <a sec:authorize="isAuthenticated()" class="btn my-4 main-button shadow w-75" href="/order">View menu</a>
                            <a sec:authorize="isAnonymous()"class="btn my-4 main-button shadow w-75" href="/guest-order">View menu</a>
                              <h2 class="mt-4 text-center">Ready to order?</h2>
                             <a class="btn my-4 main-button shadow w-75" href="/register">Create an account</a>
                        </div>
                    </div>



<!--PRESS-->
<div class="custom-spacing d-none d-md-block">

</div>
<div id="press-section" class="d-none d-md-block mt-4 mb-5 py-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-container">
                <img class="carousel-container" src="../assets/imgs/home-page-photos/yellow-background.jpg" alt="Third slide">
                <div class="carousel-caption review-1 press d-flex flex-column align-items-center my-5">
                    <h4>Publication 1</h4>
                    <h2 class="my-5 text-center">"Best. Burger. Ever."</h2>
                    <p>Name 1</p>
                    <p>Title 1</p>
                </div>
            </div>
            <div class="carousel-item carousel-container">
                <img class="carousel-container" src="../assets/imgs/home-page-photos/yellow-background.jpg" alt="Third slide">
                <div class="carousel-caption review-1 press d-flex flex-column align-items-center my-5">
                    <h4>Publication 2</h4>
                    <h3 class="my-5 text-center px-4">"Better Burgers is redefining the fast food landscape, one artisanal burger at a time."</h3>
                    <p>Name 2</p>
                    <p>Title 2</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--END PRESS -->

<!--CONTACT -->

</div>
<div id="contact-section" class="d-flex flex-xs-column-reverse flex-md-row flex-wrap justify-content-around align-items-end row-cols-1 row-cols-xs-1 row-cols-sm-2 mt-5">
    <div class="col-xs-12 col-lg-5 px-4 ps-xs-2 py-2">
        <h3 class="my-4">Contact Us</h3>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Leave us a message!</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-warning"></input>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-lg-5 px-xs-5 px-sm-4 py-5 d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63819.42767435123!2d103.89354017910156!3d1.3479490000000123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d68fdc30669%3A0x8741d5f4fa3553ea!2sTemasek%20Polytechnic%20Glocal%20Connect%20Village!5e0!3m2!1sen!2ssg!4v1614714395262!5m2!1sen!2ssg" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
</div>
<div class="custom-spacing">
    
</div>

<!--END CONTACT -->


<!--FOOTER-->


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <script src="assets/postalcheck.js"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
-->

</body>

</html>